<h1 class="text-center py-4">Contacto</h1>


<div class="card mb-3 mx-auto w-25 >
  <div class="col-md-12">
    <div class="card-body">
       <h5 class="card-title">Rodolfo Cantillana</h5>
       <p class="card-text">rodolfo.cantillana@gmail.com</p>
       <p class="card-text">+56 9 55398707<small class="text-body-secondary"></small></p>
    </div>
  </div>
</div>
