<h1 class="my-5 text-center">Portafolio</h1>
<div class="card mb-3 mx-auto" style="max-width: 40%;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'Rod_aro.jpg', class:"rod img_fluid rounded-start" %>
      
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Rodolfo Cantillana</h5>
        <p class="card-text">Iniciando estudios en programacion Web. Actualmente cursando curso de Desarrollo de Aplicaciones Ruby On Rails</p>
        <p class="card-text">Desarrollador web en proceso de formación<small class="text-body-secondary"></small></p>
      </div>
    </div>
  </div>
</div>