<div class="row  my-5">
    <div class="card col px-0 mx-3" >
    <%= image_tag 'cuppon.JPG', class:"img_fluid rounded-start rounded-end" %>
    <div class="card-body">
        <h5 class="card-title">TIENDAS CUPPON</h5>
        <p class="card-text">Tienda digital que ofrece diversos productos con ofertas exclusivas. podras encontrar ropa, perfumes, cenas, viajes y estadias con ofertas de ultima hora.</p>
        <a href="#" class="btn boton">Vamos!</a>
    </div>
    </div>
    <div class="card px-0 col mx-3">
    <%= image_tag 'ricomida.JPG', class:"img_fluid rounded-start rounded-end" %>
    <div class="card-body">
        <h5 class="card-title">RICOMIDA Recetas y Cocina</h5>
        <p class="card-text">Compartimos con nuestra comunidad ricas y exquisitas recetas Gourmet para deleitarse junto a los que mas quieres</p>
        <a href="#" class="btn boton">Vamos!</a>
    </div>
    </div>
    <div class="card col px-0 mx-3" >
    <%= image_tag 'viajeschile.JPG', class:"img_fluid rounded-start rounded-end" %>
    <div class="card-body">
        <h5 class="card-title">Viajes Chile</h5>
        <p class="card-text">Servicios turisticos Viajes Chile, ofrece rutas y paquetes turisticos a Torres del Paine, Isla de Pascua, San Pedro de Atacama y otros.</p>
        <a href="#" class="btn boton">Vamos!</a>
    </div>
    </div>

</div>